* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Rosario", sans-serif;
  margin-top: 60px;
  padding-bottom: 30px;
}

nav {
  padding: 30px;
  display: flex;
  box-shadow: 1px 1px 5px red;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-title {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Squada One";
}

.logo-title a {
  text-decoration: none;
  color: red;
  font-size: 25px;
  margin-bottom: 10px;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right a {
  font-weight: 500;
  width: 50px;
  text-align: right;
  text-decoration: none;
  color: white;
  margin-right: 50px;
}

.section-1 {
  display: flex;
  padding: 50px;
}

.main-left {
  margin: 50px;
  font-family: "Rosario";
}
.main-left h1 {
  font-size: xx-large;
}
.btn-main-left {
  align-items: center;
  justify-content: center;
  display: flex;
}

.btn-ml-1 {
  background-color: black;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  margin-top: 40px;
  margin-right: 10px;
  width: 200px;
  box-shadow: 1px 1px 5px #444444;
  cursor: pointer;
}
.btn-ml-2 {
  background-color: red;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  margin-top: 40px;
  width: 200px;
  box-shadow: 1px 1px 5px #444444;
  cursor: pointer;
}

.main-right {
  margin: 50px;
}

.about {
  margin: 50px;
}

.box-title {
  display: flex;
  justify-content: center;
}

.about-title {
  text-align: center;
  margin: 40px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid red;
}

.card-about {
  padding: 50px;
  margin: 50px;
  display: flex;
  justify-content: space-between;
}

.about-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-box h2 {
  margin-bottom: 20px;
}

.about-box p {
  line-height: 26px;
}

.btn-about {
  background-color: black;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  box-shadow: 1px 1px 5px #444444;
  margin-top: 20px;
}

.about-img-box {
  width: 40%;
}

.about-img {
  border-radius: 30px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  box-shadow: 1px 1px 5px #444444;
}

.card-about:not(:last-child) {
  margin-bottom: 40px;
}

.about-right .about-box {
  order: 2;
}

.about-right .about-img-box {
  order: 1;
}

/* CSS for Our Portfolio section */
.portfolio {
  text-align: center;
  padding: 50px 0;
}

.portfolio-title {
  display: inline;
  border-bottom: 2px solid red;
}

.portfolio p {
  margin-top: 50px;
  margin-bottom: 30px;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-item {
  width: 300px;
  margin: 20px;
}

.portfolio-item img {
  width: 100%;
  height: 50%;
  border-radius: 5px;
}

.portfolio-item h3 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.site-footer {
  background-color: #26272b;
  padding: 30px;
  color: #737373;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.site-footer .copyright-text {
  padding: 0;
  margin: 0;
  display: flex;
}

.site-footer .social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.site-footer .social-icons li {
  margin-right: 10px;
}

.site-footer .social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #818a91;
  transition: color 0.3s ease;
  background-color: #eceeef;
  border-radius: 100%;
  width: 44px;
  height: 44px;
  text-align: center;
}


.site-footer .social-icons a:hover {
  color: #007bff;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
}
.social-icons a.facebook:hover {
  background-color: #1877F2;
}
.social-icons a.instagram:hover {
  background-color: #E4405F;
}
.social-icons a.github:hover {
  background-color: #181717;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}